*{
    margin: 0;
    padding: 0;
    & img{
        border-top-right-radius: 8%;
        border-top-left-radius: 8%;
    }
}
.titulo{
    background-color: blueviolet;
}
.titulozinho{
    background-color: blueviolet;
    display: grid;
    grid-template-columns: repeat(2, 300px);
    padding-left: 38%;
    font-size: 30px;
}
.bloco-1{
    background-color: white;
    width: 300px;
    border-radius: 8%;
}
button{
    font-size: 20px;
    height: 40px;
    width: 100px;
    margin-left: 50%;
    transform: translate(-50%);
}
body{
    background-color: rgb(211, 206, 206);
}
.bloco-2{
    background-color: white;
    width: 300px;
    border-radius: 8%;
}
.blocos{
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 20%;
    margin-left: 50%;
    transform: translate(-70%);
}
.bloco-3{
    background-color: white;
    width: 300px;
    border-radius: 8%;
}
#golf{
    border-radius: 0;
    margin-top: 3%;
    height: 400px;
    margin-left: 50%;
    transform: translate(-50%);
}
.templete{
    display: flex;
    & h1{
        background-color: red;
        height: 300px;
        margin-left: -300%;
        margin-top: 50%;
    }
}
